@model ArmadilloLib.Armadillo
@{
    ViewData["Title"] = "index";
}

<h2>index</h2>

@using (Html.BeginForm("Search", "Armadillo", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <button type="submit">Find Armadillo</button>
}