@model IEnumerable<ArmadilloLib.Armadillo>
@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Shell Hardness</th>
        <th>IsPainted</th>
    </tr>
    @foreach (var a in Model)
    {
        <tr>
            <td>@a.Name</td>
            <td>@a.Age</td>
            <td>@a.ShellHardness</td>
            <td>@a.IsPainted</td>
        </tr>
    }
</table>